html{
    background-color: beige;
}

body {margin:0;}

p {
text-align:center
}

h1.roster {
  text-align:center
  }

h2 {
  text-align:center
  }

  h3 {
    text-align:center
    }

    h4 {
      text-align:center
      }
 
      IMG.display {
        display: block;
        margin-left: auto;
        margin-right: auto }
       
        .roster{
          justify-content: center;
        }

       #marjon{
       display: block;
       width: 80%;
       margin-left: auto;
       margin-right: auto;
       }
       #george{
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        }
        #jevon{
          display: block;
          width: 80%;
           margin-left: auto;
          margin-right: auto;
          }
          #joe{
            display: block;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            }
            #bobby{
              display: block;
              width: 80%;
              margin-left: auto;
              margin-right: auto;
              }
              #brook{
                display: block;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                }
                #grayson{
                  display: block;
                  width: 80%;
                  margin-left: auto;
                  margin-right: auto;
                  }
                  #jordan{
                    display: block;
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    }
                    #aj{
                      display: block;
                      width: 80%;
                      margin-left: auto;
                      margin-right: auto;
                      }
                      #jrue{
                        display: block;
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;
                        }
                        #khris{
                          display: block;
                          width: 80%;
                          margin-left: auto;
                          margin-right: auto;
                          }
                          #wesley{
                            display: block;
                            width: 80%;
                            margin-left: auto;
                            margin-right: auto;
                            }
                            #pat{
                              display: block;
                              width: 80%;
                              margin-left: auto;
                              margin-right: auto;
                              }
                              #serge{
                                display: block;
                                width: 80%;
                                margin-left: auto;
                                margin-right: auto;
                                }
                                #giannis{
                                  display: block;
                                  width: 80%;
                                  margin-left: auto;
                                  margin-right: auto;
                                  }
                                  #thanasis{
                                    display: block;
                                    width: 80%;
                                    margin-left: auto;
                                    margin-right: auto;
                                    }
                                    #sandro{
                                      display: block;
                                      width: 80%;
                                      margin-left: auto;
                                      margin-right: auto;
                                    
                                      }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(8, 84, 8);
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(72, 11, 72);
}

.active {
  background-color: #04AA6D;
}

a:link {
    color: rgb(8, 84, 8);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: beige;
    background-color: transparent;
    text-decoration: none;
  }
  a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
h1 {
    color: rgb(8, 84, 8) ;
}

h2 {
    color: rgb(72, 11, 72) ;
}

h3 {
    color: black;
}

a:link, a:visited {
    background-color: rgb(8, 84, 8);
    color: beige;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(72, 11, 72);
  }